body
{
    margin:0px;
     font-family: sans-serif;
    font-size: 30px; 
     background-color: whitesmoke;
}
#body-header{
    height: 65vh;
    width: 100%;
    background-image: url(/images/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;

}

.horizontal-list{
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    /* text-align: center; */
 
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight:100;
}
nav ul li a{
    font-size: 1rem;
}
.horizontal-list li a
{
    color: rgb(10, 73, 88);
    text-decoration: none;
    transition: color 0.5s;
    /* position:sticky; */
}
.horizontal-list li a:hover {
    color: rgb(89, 247, 207);
    /* border-bottom: 1px solid rgb(173, 221, 248); */
}

.text-center{
    text-align: center;   
}


/* Name and Icons */

#socials{
    margin-top: 20vh;
}

#myname{
    color: rgb(22, 94, 121);
    font-size:5rem;
    letter-spacing: 0.1rem;
    font-weight:700;
    margin-bottom: 0.5rem;
}

.icons ul li a{
    padding: 10px;
    font-size: 1.5rem;
}

.mypic{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -18vh;
}
.mypic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #ffffff88;
    box-shadow: 1px 1px 10px 2px lightgrey; 

}
#aboutme{
    height: auto;
    width: 70%;
    margin:auto;

    /* background-color: yellowgreen; */
    padding: 10px;
    text-align: justify;
    color:grey;
    line-height: 28px;
    font-size: 18px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
/* section:nth-child(2n)
{
    background-color: rgb(214, 221, 204);
}

section:nth-child(2n+1)
{
    background-color: rgb(246, 249, 250);
} */

/* skills */
#skill-heading{
    font-weight: 700;
    font-size:1.9rem ;
    margin: 10px auto;
}
.skills-display
{   
    /* height: 400px; */
    width: 35rem;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: center;
}

.skill-bar{
    /* box-sizing: content-box; */
    width:9rem;
    height: 1.5rem;
    margin: 10px;
    background-color: lightgrey;
    font-size: 1.2rem;
    /* padding:10px; */
    border-radius: 0.8rem;
    font-size: 1.2rem;
}
.skill-bar div{
    padding-left:10px;
    height: 1.5rem;
    font-weight: bold;
    color:rgb(40, 14, 88);
    border-radius: 0.8rem;
}
.p80per{
    width: 80%;
    background-color: rgb(143, 111, 202);
}
.p70per{
    width:70%;
    background-color: rgb(150, 212, 204);
}

/* Contact section styles */
#contact{
    background-image: linear-gradient(to top right, rgb(0, 0, 0),rgba(248, 245, 248, 0.493) 150% );
    padding-bottom: 40px;
    color:white;

}
#contact span{
    margin: 5px;
}
#contact-container{
    /* position:relative;  */
    display: flex;
    
    justify-content: space-around;
    /* padding: 5px; */
}
#contact-title{
    font-weight: 500;
}
#contact-container {`
    width:35%;
    border: 1px solid black;
    /* padding: 5px; */
}
#contact-form {
    margin-left: 20%;
}
#contact-div2 h3{
    font-weight: 550;
    font-size: 1.2rem;
}
.address-details-list{
    font-size: 1rem;
}
